body{
    background-image: url(../images/gravel.png);
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
 }
 
 .row{
     background-color: #ffffff;
     max-width: auto;
     height: 80px;
     margin: auto; 
     border-bottom: solid #cccccc 2px;
 }
 #size{
     background-color: white;
     margin: auto;
     padding: 50px;
     
     
 }
 #name{
     background-color: #4aaaa5;
     float: left;
     width: 200px;
     text-align: center;
     color: #ffffff;
     margin-left: 190px;
     font-family: Georgia, 'Times New Roman', Times, serif;
    
 }
 
 #navigation{
     float: right;
     margin-right: 190px;
     padding-top: 30px;
     font-family: Georgia, 'Times New Roman', Times, serif;
     
 }
 a:hover{
     background-color: #4aaaa5;
     display: inline;
     text-decoration: underline;
   
     
 }
 .nav{
     color: #777777;
 }
 
 
 article {
     margin-left: 190px;
     margin-right: 190px;
     margin-top: 30px;
     padding-top: 10px;
     padding-left: 30px;
     padding-right: 10px;
     max-width: 960px;
     background-color:white;
     height: 450px; 
     font-family: Arial, Helvetica, sans-serif;
 }
 #portfolio{
     margin-left: 190px;
     margin-right: 190px;
     margin-top: 30px;
     margin-bottom: 90px;
     padding-top: 10px;
     padding-left: 30px;
     padding-right: 10px;
     max-width: 960px;
     background-color:white;
     height: 650px; 
     font-family: Arial, Helvetica, sans-serif;
 }
   .footer {
     position: relative;
     left: 0;
     bottom: 0;
     width: 100%;
     background-color: #666666;
     color: white;
     text-align: center;
     border-top: solid #4aaaa5 5px;
     font-family: Arial, Helvetica, sans-serif;
  }
  #aboutme , #Contact{
      color: #4aaaa5;
      font-weight: bold;
  }
 img{
     height: 350px;
     width: 200px;
     float: left;
     margin-right: 10px;
 }
 .form{
     width: 100%;
     padding-top: 10px;
     margin-right: 15px;
     
 }
 hr{
     color:#777777;
     width: 98%;
 }
 #heading{
     color: #777777;
     margin-bottom: 5px;
 }
 
 #message{
     height: 130px;
 }
 #submit{
     background-color: #4aaaa5;
     width: 100px;
     height: 40px;;
     text-align: center;
     color: #ffffff;
 
 }
 #yourname{
     background-color: #4aaaa5;
     float: left;
     width: 200px;
     text-align: center;
     color: #ffffff;
     margin-left: 380px;
 }
 
 .image{
     height: 200px;
     width: 200px;
     float: left;
     margin-right: 10px;
     margin-bottom: 20px;
     box-sizing: border-box;
     border: 1px solid black;
 }
 .image:hover{
     border-radius: 50%;    
     box-sizing: border-box;
     border: 1px solid #4aaaa5;
 }
 .container {
     position: relative;
     font-family: Arial;
   }
 .text-block{
     position: absolute;
     background-color: #4aaaa5;
     color: white;
     width: 200px;
     height: 10px;
     margin-top: 160px;
     padding-bottom: 25px;
     font-size: 10px;
     text-align: center;
 }
 .text-block2{
     position: absolute;
     background-color: #4aaaa5;
     color: white;
     width: 200px;
     height: 10px;
     margin-top: 160px;
     margin-left: 210px;
     padding-bottom: 25px;
     font-size: 10px;
     text-align: center;
 }
 
 .text-block3{
     position: absolute;
     background-color: #4aaaa5;
     color: white;
     width: 200px;
     height: 10px;
     margin-top: 160px;
     margin-left: 420px;
     padding-bottom: 25px;
     font-size: 10px;
     text-align: center;
 
 }
 
 .text-block4{
     position: absolute;
     background-color: #4aaaa5;
     color: white;
     width: 200px;
     height: 10px;
     margin-top: 160px;
     margin-left: 630px;
     padding-bottom: 25px;
     font-size: 10px;
     text-align: center;
 }
 
 .text-block5{
     position: absolute;
     background-color: #4aaaa5;
     color: white;
     width: 200px;
     height: 10px;
     margin-top: 380px;
     margin-right: 170px;
     padding-bottom: 25px;
     font-size: 10px;
     text-align: center;
 }
 .text-block6{
     position: absolute;
     background-color: #4aaaa5;
     color: white;
     width: 200px;
     height: 10px;
     margin-top: 380px;
     margin-left: 210px;
     padding-bottom: 25px;
     font-size: 10px;
     text-align: center;
 }
 a{
     color: #ffffff;
     text-decoration: none;
 }

 
 @media screen and (max-width: 600px) {
     article {
         max-width: 600px;
         background-color:white; 
         font-family: Arial, Helvetica, sans-serif;
         margin-left: 0px;
         margin-right: 0px;
         height: auto;
     }
     #portfolio{
      height: 1420px;
        margin-left: 0px;
        margin-right: 0px;
     }
    
     img{
         height: 250px;
         width: 200px;
         margin-right: 10px;
     }
     .row{
         background-color: #ffffff;
         height: 80px;
         border-bottom: solid #cccccc 2px;
     }
     #name{
         margin-left: 0px;
        
     }
     .form {
         padding-top: 13px;
     }
     #navigation{
         float: auto;
         margin-right: 0px;
         padding-top: 0px;
         font-size: 13px;
         
     }
     .text-block2{
       
        margin-top: 379px;
        margin-left: 0px;
    }
    .text-block3{
       
        margin-top: 601px;
        margin-left: auto;    
    }
    .text-block4{
       
        margin-top: 820px;
      margin-left: 0px;
       
    }
    .text-block5{
       
        margin-top: 1040px;
        margin-right: 170px;
        
    }
    .text-block6{
        margin-top: 1260px;
        margin-left: 0px;
      
    }
    .footer {
      margin-top: 50px;
      margin-bottom: 0px;
    }
    #footerbottom
    {
        margin-bottom: 0px;
    }
   }
   @media only screen and (min-width: 768px) and (max-width: 1024px) {
    article {
        max-width: 600px;
        background-color:white; 
        font-family: Arial, Helvetica, sans-serif;
        margin-left: 58px;
        margin-right: 0px;
        height: auto;
    }
    #para{
        font-size: 20px;
    }
    #portfolio{
     height: 1420px;
       margin-left: 0px;
       margin-right: 0px;
    }
   
    img{
        height: 430px;
        width: 400px;
        margin-right: 10px;
    }
    .row{
        background-color: #ffffff;
        height: 80px;
        border-bottom: solid #cccccc 2px;
    }
    #name{
        margin-left: 0px;
       
    }
    .form {
        padding-top: 13px;
    }
    #navigation{
        
        margin-right: 0px;
        padding-top: 14px;
        font-size: 32px;
        
    }
    .text-block2{
      
       margin-top: 159px;
       margin-left: 211px;
   }
   .text-block3{
      
       margin-top: 159px;
       margin-left: 420px;    
   }
   .text-block4{
      
       margin-top: 379px;
     margin-left: 0px;
      
   }
   .text-block5{
      
       margin-top: 380px;
       margin-left: 210px;
       
   }
   .text-block6{
       margin-top: 380px;
       margin-left: 420px;
     
   }
   .footer {
     margin-top: 50px;
     margin-bottom: 0px;
     position: fixed;
   }
   #footerbottom
   {
       margin-bottom: 0px;
   }
  }
  